%br
.container
  .row
    .col-md-7
      - @actors.each do |a|
        .col-md-4.actor
          - if current_user
            - if current_user
              %td
                .btn-group
                  = link_to "EDIT", edit_actor_path(a), class: "btn btn-default"
                  = link_to "DEL", a, method: :delete, class: "btn btn-danger"
          .thumbnail
            = image_tag(a.photo_url, size: "180x200")
            %h4
              = a.name
            %p
              %h4
                %b Age:
                = a.age
            = link_to "View", actor_path(a), class: "btn btn-info"

.center
  .panel.panel-default
    = will_paginate @actrors, renderer: BootstrapPagination::Rails 