.container
  .row
    .col-md-8
      - @actors.each do |a|
        .col-md-3
          - if current_user
            - if current_user
              %td
                = link_to "DEL", a, method: :delete, class: "btn btn-danger"
                = link_to "EDIT", edit_actor_path(a), class: "btn btn-info"
          .thumbnail
            = image_tag(a.photo_url, size: "180x200")
            %h3
              = a.name
            %p
              %h3
                %b Age:
                = a.age
            = link_to "View", actor_path(a), class: "btn btn-success"
