- if !@movies.empty?
  %h1 
    Movies
  %table.table.table-hover
    %tr
      %th
        Name
      %th
        Picture
      %th
        Rating
      %th
        Reviews score    
      %th    
        Option
    - @movies.each do |m|
      %tr
        %td
          = link_to "#{m.name}", movie_path(m)
        %td
          = image_tag(m.poster_url, size: "70x100") 
        %td
          = m.rating        
        %td
          = m.total_ball  
        %td
          = link_to "Select", {:controller => "actors", :action => "add_movie", :id => m.id, :actor_id => params[:actor_id]}, method: :post, class: "btn btn-info"
         