%h1.center
  = @actor.name
  (
  = @actor.age
  )
.col-md-6
  .thumbnail
    = image_tag(@actor.photo_url)

.col-md-6
  .thumbnail
    %h3.center About
    %p
      = @actor.about
.col-md-3
  .thumbnail
    = bootstrap_form_for @actor, :method => "post" do |a|
      = a.collection_select :movie_id, Movie.order(:name), :id ,:name
      = a.submit "Add", class: "btn btn-primary"
.col-md-3
  .thumbnail
    - @movies.each do |m|
      %p
        = m.name
        = link_to "del", :controller => :actors, :action => :delete_movie, id: m.id


= params
%br
%br
%br