%h1.center
  = @actor.name
  (
  = @actor.age
  )
  - if current_user
    - if current_user.admin?
      .btn-group
        = link_to "EDIT", edit_actor_path(@actor), class: "btn btn-default"
        = link_to "DEL", @actor, method: :delete, class: "btn btn-danger"
.col-md-6.center
  = image_tag(@actor.photo_url, size: "250x400")

.col-md-6
  %h3.center About
  %p
    = @actor.about

.col-md-12
  %hr
  - if current_user
    - if current_user.admin?
      .col-md-6.form-inline
        = form_tag movie_search_list_path, :method => "get" do
          = text_field_tag :movie_name, nil, placeholder: 'Actor name', size: 15, class: "form-control"
          = hidden_field_tag :actor_id, @actor.id
          = submit_tag "Add", class: "btn btn-primary"

.col-md-12
  = render "movies/short_list", movies: @movies 