- @articles.each do |a|
  - if current_user
    - if current_user.admin?
      = link_to "DEL", a, method: :delete, class: "btn btn-danger"
      = link_to "EDIT", edit_article_path(a), class: "btn btn-info"
  .thumbnail
    = image_tag(a.img_url)
    .caption
      %h2
        = link_to "#{a.title}", article_path(a)
      %p
        = a.body
      = link_to "#{a.comments.count} Comments", article_path(a), class: "btn btn-primary"
      %button.btn.btn-danger
        Rating
        .badge
          = a.rating
      -#    MAKE BTN GROUP
      - if current_user
        = link_to "+", {:controller => "articles", :action => "up_vote", :id => a.id}, method: :post, class: "btn btn-info"
        = link_to "-", {:controller => "articles", :action => "down_vote", :id => a.id}, method: :post, class: "btn btn-info"
      .post-data
        = a.created_at.strftime("%d %b. %Y")
        = a.created_at.strftime("%H:%M")

.center
  %ul.pagination
    %li.active
      %a 1
    %li
      %a 2
    %li
      %a 3
    %li
      %a 4
    %li
      %a 5


