- unless @actors.empty?
  %h1 
    Actors
  %table.table.table-hover
    %tr
      %th
        Name
      %th
        Photo
      %th
        Age
      %th
        Option  
    - @actors.each do |a|
      %tr
        %td
          = link_to "#{a.name}", actor_path(a)
        %td
          = image_tag(a.photo_url, size: "70x100") 
        %td
          = a.age  
        %td
          = link_to "Select", {:controller => "movies", :action => "add_actor", :id => a.id, :movie_id => params[:movie_id]}, method: :post, class: "btn btn-info"