.container
  .row
    .col-md-5.col-md-offset-3
      .jumbotron

        %h1 New movie
        = bootstrap_form_for @movie do |f|
          = f.text_field :name
          = f.text_field :box_office
          = f.text_area :desc
          = f.text_field :poster_url
          = f.submit "Update"