.container
  .row
    - @movies.each do |m|
      .col-md-4.col-xs-12.col-sm-4
        - if current_user
          - if current_user.admin?
            = link_to "DEL", m, method: :delete, class: "btn btn-danger"
            = link_to "EDIT", edit_movie_path(m), class: "btn btn-info"
        %table.table.table-hover
          %tr
            %td
              = image_tag(m.poster_url, size: "180x230")
            %td
              %h3
                = m.name
              %p
                Box office:
                = m.box_office
              %p
                Actors:
                - m.actors.each do |a|
                  = a.name
              %p
                Genre:
                = m.genre
              %p
                Duration:
              = link_to "View", movie_path(m), class: "btn btn-success"


