- @movies.each do |m|
  .col-md-6
    %h3
      =m.name
      - if current_user
        - if current_user.admin?
          .btn-group
            = link_to "EDIT", edit_movie_path(m), class: "btn btn-default"
            = link_to "DEL", m, method: :delete, class: "btn btn-danger"
    .poster
      =image_tag(m.poster_url, size: "120x200")
    %p
      Box office:
      = m.box_office
    %p
      Actors:
      - m.actors.limit(3).each do |a|
        = link_to "#{a.name}", actor_path(a)  
      = link_to "...", movie_path(m)    
    %p
      Genre:
      = m.genre
    %p
      Rating:
      = m.rating
    .btn-group 
      - if current_user
        - if current_user.ratings.find_by(post_id: m.id)
          - if current_user.ratings.find_by(post_id: m.id).movie_rating == "down" || current_user.ratings.find_by(post_id: m.id).movie_rating.nil?
            = link_to "+", {:controller => "movies", :action => "up_vote", :id => m.id}, method: :post, class: "btn btn-default"
          - if current_user.ratings.find_by(post_id: m.id).movie_rating == "up" || current_user.ratings.find_by(post_id: m.id).movie_rating.nil?
            = link_to "-", {:controller => "movies", :action => "down_vote", :id => m.id}, method: :post, class: "btn btn-default"
        - else     
          = link_to "+", {:controller => "movies", :action => "up_vote", :id => m.id}, method: :post, class: "btn btn-default"
          = link_to "-", {:controller => "movies", :action => "down_vote", :id => m.id}, method: :post, class: "btn btn-default"  
    %br 
    %br
    = link_to "View", movie_path(m), class: "btn btn-info"
    %hr
.center
  .panel.panel-default
    = will_paginate @movies