%h1.center
  = @movie.name

.col-md-6
  .thumbnail
    = image_tag(@movie.poster_url, size: "380x500")

.col-md-6
  .thumbnail
    %p
      %b
        Genre:
      = @movie.genre
    %p
      %b
        Box office:
      = @movie.box_office
    %p
      %b
        Description:
      = @movie.desc
    %p
      %b
        Total ball:
      = @movie.total_ball    
- if current_user
  - if current_user.admin?
    .col-md-3
      .thumbnail
        = bootstrap_form_for @movie, :method => "post" do |a|
          = a.collection_select :actor_id, Actor.order(:name), :id ,:name
          = a.submit "Add", class: "btn btn-primary"
.col-md-3
  .thumbnail
    %b
      Actors:
    - @actors.each do |a|
      %p
        = link_to "#{a.name}", actor_path(a)
        - if current_user
          - if current_user.admin?
            = link_to "del", {:controller => "movies", :action => "delete_actor", :actor_id => a.id}, method: :delete
.col-md-3
  - if current_user
    = link_to "Add review", {:controller => "reviews", :action => "new", :movie_id => @movie.id}

%br
%br
%br