%h1.center
  = @movie.name

.col-md-6
  .thumbnail
    = image_tag(@movie.poster_url, size: "380x500")

.col-md-6
  .thumbnail
    %p
      %b
        Genre:
      = @movie.genre
    %p
      %b
        Box office:
      = "#{@movie.box_office}" + "$"
    %p
      %b
        Description:
      = @movie.desc
    %p
      %b
        Users score:
      = @movie.total_ball    
- if current_user
  - if current_user.admin?
    .col-md-3
      .thumbnail
        = form_tag actor_search_list_path, :method => "get" do
          = text_field_tag :actor_name, 'Actor name', size: 15
          = hidden_field_tag :movie_id, @movie.id
          = submit_tag "Add", class: "btn btn-primary"
          
.col-md-3
  .thumbnail
    %b
      Actors:
    - @actors.each do |a|
      %p.list
        = link_to "#{a.name}", actor_path(a)
        - if current_user
          - if current_user.admin?
            = link_to "del", {:controller => "movies", :action => "delete_actor", :actor_id => a.id}, method: :delete
    = link_to "...", actor_list_path(@movie.id)    
- if @reviews            
  .col-md-3
    .thumbnail
      %b
        Reviews:
      - @reviews.each do |r|
        %p.list
          = link_to "#{r.title}", actor_path(r)
      = link_to "...", review_list_path(@movie.id)              
.col-md-3
  - if current_user
    = link_to "Add review", {:controller => "reviews", :action => "new", :movie_id => @movie.id}
