.center
  .panel.panel-default
    = will_paginate @reviews

.container
  .row
    .col-md-8
      - @reviews.each do |r|
        .thumbnail
          - if current_user
            - if current_user.admin? || r.user_id == current_user.id
              = link_to "DEL", r, method: :delete, class: "btn btn-danger"
              = link_to "EDIT", edit_review_path(r), class: "btn btn-info"
          %h2.center
            = link_to "#{r.title}", review_path(r)
          %p
            %b To movie:
            = link_to "#{r.movie.name}", movie_path(r.movie)
          %p
            %b Body:
            = r.body
          %p
            %b Total ball:
            = r.total_ball
          %p
            %b Rating:
            = r.rating
          %p
            %b By:
            = r.user.email
          - if current_user
            %p
              = link_to "+", {:controller => "reviews", :action => "up_vote", :id => r.id}, method: :post, class: "btn btn-info"
              = link_to "-", {:controller => "reviews", :action => "down_vote", :id => r.id}, method: :post, class: "btn btn-info"

.center
  .panel.panel-default
    = will_paginate @reviews