.thumbnail
  .center
    %h3
      = @review.title
    to
    %h3
      = link_to "#{@review.movie.name}", movie_path(@review.movie)
  %p
    = @review.body


- @review.comments.limit(20).each do |c|
  .thumbnail
    %b
      = User.find(c.user_id).email
    %p
      = c.body
    - if current_user
      - if (current_user.id == c.user_id) || (current_user.admin?)
        = link_to "del", c, method: :delete

= link_to "Show all comments", {:controller => "comments", :action => "comments_list", :id => @review.id, :review_id => true}, method: :get

- if current_user
  = bootstrap_form_for @comment do |f|
    = f.text_area :body
    = f.hidden_field :review_id, :value => @review.id
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit