.center
  - if current_user
    - if current_user.admin? || @review.user_id == current_user.id
      .btn-group
        = link_to "EDIT", edit_review_path(@review), class: "btn btn-default"
        = link_to "DEL", @review, method: :delete, class: "btn btn-danger"
  %h3
    = @review.title
  to
  = link_to "#{@review.movie.name}", movie_path(@review.movie)
%p
  = @review.body

= render "comments/index", comments: @comments

- if current_user
  = bootstrap_form_for @comment do |f|
    = f.text_area :body
    = f.hidden_field :review_id, :value => @review.id
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit