!!!
%html
  %head
    %title Cinema
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  -#  Nav panel
  .container
    .navbar.navbar-default
      .navbar-header
        %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => "#drop-menu"}
          %span.sr-only Toggle nav
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          = link_to "Flumen", root_path
      .collapse.navbar-collapse#drop-menu
        %ul.nav.navbar-nav
          %li
            = link_to "Actors", actors_path
          %li.dropdown
            = link_to "Movies", movies_path
            -#%a.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", :url => "#{movies_path}"}
              Movies
              .caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a Actions
                %li
                  %a Thrillers
                %li
                  %a Comedies
                %li.divider
                %li
                  %a Full list
          %li
            = link_to "News", root_path
          %li
            = link_to "Reviews", reviews_path
        %ul.user-info.nav.navbar-nav.navbar-right
        .center.search
          = form_tag search_path, method: :get do
            = text_field_tag :search
            = submit_tag "Search", class: "btn btn-default"

              
  %body
    -#.center.notice
    -#  = notice if notice
    -#.center.alert
    -#  = alert if alert

    .container
      .row
        .col-md-8.col-sm-8.col-xs-12#content
          .breadcrumb
            = render_breadcrumbs
          = yield

        -#USER PANEL
        .col-md-4.col-sm-4.col-xs-12
          .panel.panel-default
            .panel-heading.center User info
            .panel-body.cute-body
              - if user_signed_in?
                - if current_user.admin?
                  = render partial: "articles/admin_panel"
                - else
                  = render partial: "articles/user_panel"
                = link_to "Exit", destroy_user_session_path, method: :delete
              - else
                %li
                  = link_to "Sign in", new_user_session_path
                %li
                  = link_to "Sign up", new_user_registration_path
        -#  POSTERS BLOCK
        .col-md-4.col-sm-4.col-xs-12#side-bar
          .panel.panel-info
            .panel-heading.center
              Posters
            .panel-body
              #myCar.carousel.slide{"data-ride" => "carousel"}

                -#Slider indicator
                %ol.carousel-indicators
                  %li.active{"data-target" => "#myCar", "data-slide-to" => "0"}
                  %li{"data-target" => "#myCar", "data-slide-to" => "1"}
                  %li{"data-target" => "#myCar", "data-slide-to" => "2"}

                -#Slides
                .carousel-inner
                  .item.active
                    = image_tag(Movie.first.poster_url)
                  .item
                    = image_tag(Movie.find(7).poster_url)
                  .item
                    = image_tag(Movie.last.poster_url)

                -#Slider arrows
                %a.left.carousel-control{:role => "button", :href => "#myCar", "data-slide" => "prev"}
                  .glyphicon.glyphicon-chevron-left

                %a.right.carousel-control{:role => "button", :href => "#myCar", "data-slide" => "next"}
                  .glyphicon.glyphicon-chevron-right
        -#  INFO TOPS
        .col-md-4.col-sm-4.col-xs-12#side-bar
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{:href => "#collapse-1", "data-parent" => "#accordion", "data-toggle" => "collapse"}
                    Top rated news
              #collapse-1.panel-collapse.collapse.in
                .panel-body
                  %ul
                    %li
                      %h1 News title
                      %p The first text editors were "line editors" oriented to teleprinter- or typewriter-style terminals without displays...
                    %li
                      %h1 News title
                      %p The first text editors were "line editors" oriented to teleprinter- or typewriter-style terminals without displays...
                    %li
                      %h1 News title
                      %p The first text editors were "line editors" oriented to teleprinter- or typewriter-style terminals without displays...
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{:href => "#collapse-2", "data-parent" => "#accordion", "data-toggle" => "collapse"}
                    Top rated comments
              #collapse-2.panel-collapse.collapse
                .panel-body
                  %ul
                    - Article.last(3).each do |a|
                      %li
                        %h1 
                          = a.title
                        %p The first text editors were "line editors" oriented to teleprinter- or typewriter-style terminals without displays...
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{:href => "#collapse-3", "data-parent" => "#accordion", "data-toggle" => "collapse"}
                    Top rated reviews
              #collapse-3.panel-collapse.collapse
                .panel-body
                  %ul
                    %li
                      %h1 AMAZING REVIEW
                      %p The first text editors were "line editors" oriented to teleprinter- or typewriter-style terminals without displays...
                    %li
                      %h1 AMAZING REVIEW
                      %p The first text editors were "line editors" oriented to teleprinter- or typewriter-style terminals without displays...
                    %li
                      %h1 AMAZING REVIEW
                      %p The first text editors were "line editors" oriented to teleprinter- or typewriter-style terminals without displays...




      %nav.center

      .footer
        Flumen © 2015
        %br
        Oleg Makarenko